<!DOCTYPE html>
<html class="loginbg">

<head>

    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <title>{:config('common.title')}</title>
    <link href="__STATIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__STATIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/style.min.css?v={:config('common.css_version')}" rel="stylesheet">
    <link href="__STATIC__/admin/css/indexcss.css" rel="stylesheet">
</head>
<style>
	input{
		width: 100%!important;
	}
</style>

<body class="gray-bg zxylogin">
    <div class="middle-box text-center loginscreen  animated fadeInDown logincontent">
    	
        <div class="loginlist">
        	
        	<div class="loginimgss">
	    		<img src="__STATIC__/admin/img/loginimgs.png">
	    	</div>
	    	<div class="logintext">
	            <div>
	
	                <h1 class="logo-name"></h1>
	
	            </div>
	            <h2 style="color: #27d3d2;">{:config('common.title')}</h2>
	            <form id="form-login" class="m-t-md" role="form" action="{:url('Common/loginSys')}">
	                <div class="form-group m-b-sm">
	                    <input id="username" name="username" type="text"  class="form-control loginform" placeholder="用户名" required="">
	                </div>
	                <div class="form-group m-b-lg">
	                    <input id="password" name="password" type="password" class="form-control loginform" placeholder="密码" required="">
	                </div>
	                <button  type="submit" class="btn btn-primary block full-width m-b" onclick="login()">登 录</button>
	
	
	            </form>
            </div>
        </div>
    </div>


    <script src="__STATIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
    <!--弹出框-->
    <script src="__STATIC__/admin/js/layer/layer.js"></script>
    <link href="__STATIC__/admin/js/layer/theme/default/layer.css" rel="stylesheet">
<!--弹出end-->
<script type="text/javascript">
    $(function(){
        $(document).keydown(function(event){ 
            if(event.keyCode==13){ 
                login();
            } 
        });
    });
    //登录
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        if(username == ""){
            reloadTips('请填写用户名！');
            return false;
        }
        if(password == ""){
            reloadTips('请填写密码！');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('Common/loginSys')}",
            data: {username : username, password : password},
            dataType: "json",
            success: function(result){
                // console.log(result);
                if(result.status == 1){
                    reloadTips(result.msg);
                    return false; 
                }else{
                    window.location.href = "{:url('Index/index')}";
                }
            }
        });
    }

    //提示 默认不刷新页面
    function reloadTips(message) {
        layer.open({
            title: '提醒',
            content: message
        });
        return false;
    }
</script>
</body>

</html>