<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>{:config('common.title')}</title>
    <link rel="shortcut icon" href="__STATIC__/admin/favicon.ico">
    <link href="__STATIC__/admin/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__STATIC__/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/admin/css/animate.min.css" rel="stylesheet">
	<link href="__STATIC__/admin/css/style.min.css?v={:config('common.css_version')}" rel="stylesheet">
	<script src="__STATIC__/admin/js/jquery.min.js?v=2.1.4"></script>
	<script src="__STATIC__/admin/js/bootstrap.min.js?v=3.3.5"></script>
	<!--datetimepicker-->
	<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap-datetimepicker.min.css">
	<script src="__STATIC__/admin/js/time/bootstrap-datetimepicker.js"></script>
	<script src="__STATIC__/admin/js/time/bootstrap-datetimepicker.zh-CN.js"></script>

</head>

<body class="fixed-sidebar full-height-layout gray-bg">
    <div id="wrapper">
        <!--左侧导航开始-->
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1" style="margin-left: 0px;">
            
        	{include file='common/top' /}
            <div class="row J_mainContent" id="content-main">
            	<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0;">
				<div class="view">
					<ul class="breadcrumb">
						<li>
							<a href="#" class="xyshcolor">工作记录</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="ibox m-n">
							<div class="ibox-content" id="scrollContent">

								<form class="form-inline m-b-md" method="get" action="{:url('Query/index')}">

									<div class=" m-b-md m-t-sm">

										<div>
											<div class="form-group m-t-sm m-l-md">
												<label for="exampleInputName2">部门：</label>
												<select class="form-control wid220" name="department">
													<option value="">全部</option>
													{volist name="department" id="vo"}
													<option value="{$vo}" {if !empty($query.department) && $query.department==$vo}selected{/if}>{$vo}</option>
													{/volist}
												</select>
											</div>
											<div class="form-group m-t-sm m-l-md">
												<label for="exampleInputName2">优先级：</label>
												<select class="form-control wid220" name="level">
													<option value="-1" {if isset($query.level) && $query.level=="-1"}selected{/if}>全部</option>
													{volist name="level" id="vo" key="k"}
													<option value="{$k-1}" {if isset($query.level) && $query.level==($k-1)}selected{/if}>{$vo.name}</option>
													{/volist}
												</select>
											</div>

											<div class="input-group m-t-sm ">
												<input type="text" class="form-control" placeholder="标题/内容"name="title" value="{if !empty($query.title)}{$query.title}{/if}">
												<span class="input-group-btn">
                                                    <button type="submit" class="btn btn-primary">搜索</button>
                                                </span>
											</div>
											<div class="input-group m-t-sm">
                                                <span class="input-group-btn">
                                                    <a class="btn btn-primary borderra" style="margin-left: 5px;" href="{:url('Query/index')}">重置</a>
                                                </span>
											</div>
										</div>


									</div>

								</form>
								<div class="table-responsive">
									<div class="ibox-content">
										<table class="table text-center" style="width: auto">
											<thead>
											<tr>
												{volist name="$level" id="vo" key="k"}
												<th class="{$vo.css}">{$vo.name}</th>
												{/volist}
											</tr>
											</thead>
										</table>
										<table class="table table-bordered text-center">
											<thead>
												<tr>
													<th class="text-center">序号</th>
													<th class="text-center">优先级</th>
													<th class="text-center">部门</th>
													<th class="text-center">标题</th>
													<th class="text-center">内容</th>
													<th class="text-center">负责人</th>
													<th class="text-center">城市</th>
													<th class="text-center">问题提出人</th>
													<th class="text-center">提出人电话</th>
													<th class="text-center">录入人</th>
													<th class="text-center">开始时间</th>
													<th class="text-center">结束时间</th>
													<th class="text-center">进度</th>
													<th class="text-center">操作</th>
												</tr>
											</thead>
											<tbody>
												{volist name="list" id="vo"}
												<tr>
													<td>{$vo.id}</td>
													<td class="{$vo.css}">{$vo.status}</td>
													<td>{$vo.department}</td>
													<td style="width: 15%;">{$vo.title}</td>
													<td style="width: 30%;">{$vo.remark}</td>
													<td>{$vo.person}</td>
													<td>{$vo.city}</td>
													<td>{$vo.question_person}</td>
													<td>{$vo.question_tel}</td>
													<td>{$vo.c_name}</td>
													<td>{if $vo.start_time}{$vo.start_time|date="Y-m-d H:i"}{else /}{/if}</td>
													<td>{if $vo.end_time}{$vo.end_time|date="Y-m-d H:i"}{else /}{/if}</td>
													<td>{$vo.progress.'%'}</td>
													<td>
														<button class="btn btn-success btn-xs mtb5" onclick="queryProject('{$vo.id}', '{$vo.title}')">历史记录</button>
													</td>
												</tr>
												{/volist}

											</tbody>
										</table>
									</div>
									{$list|raw}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
            </div>
        	{include file='common/footer' /}
        </div>
        <!--右侧部分结束-->
    </div>

	<!--项目历史记录表modal-->
	<div class="modal fade" id="recordListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">项目历史记录表</h4>
				</div>
				<div class="modal-body">
					<div class="ibox-content">
						<form class="form-horizontal">
							<table class="table table-bordered text-center">
								<thead>
								<tr>
									<th class="text-center">序号</th>
									<th class="text-center">内容</th>
									<th class="text-center">负责人</th>
									<th class="text-center">创建时间</th>
								</tr>
								</thead>
								<tbody id="pro_list">

								</tbody>
							</table>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
				</div>
			</div>
		</div>
	</div>
    <script src="__STATIC__/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__STATIC__/admin/js/hplus.min.js?v=4.0.0"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/contabs.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/pace/pace.min.js"></script>
	<!--弹出框-->
	<script src="__STATIC__/admin/js/layer/layer.js"></script>
    <link href="__STATIC__/admin/js/layer/theme/default/layer.css" rel="stylesheet">

</body>

<script type="text/javascript">
	$(function () {
		//初始化日期插件
		$('.searchDate').datetimepicker({
			format: 'yyyy-mm-dd hh:ii',
			language:  'zh-CN',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 0,
			forceParse: 0,
			minuteStep : 10,
			pickerPosition:'bottom'//日期插件弹出的位置
		});
	})
    //项目记录历史
	function queryProject(pro_id, title) {
		//查询历史记录

		$.ajax({
			type: "post",
			url: "{:url('Index/queryProject')}",
			data: {
				pro_id : pro_id,
			},
			dataType: "json",
			success: function(result){
				// console.log(result.msg);
				if(result.status == 0){
					var html = '';
					for (x in result.msg) {
						html += `<tr>
	                       <td>`+result.msg[x].id+`</td>
                           <td style="width: 30%;">`+result.msg[x].remark+`</td>
                           <td>`+result.msg[x].person+`</td>
                           <td>`+result.msg[x].c_time+`</td>
						</tr>`;
					}

					$('#pro_list').html(html);
					//新建按钮
					$('#addRecord').attr('onclick', "addRecord("+pro_id+", '"+title+"')");
					$("#recordListModal").modal('show');
				}else{
					reloadTips(result);
				}
			}
		});
	}


</script>
</html>